
header{
    height: 100px;
    width: 800px;
    text-align: center;
    background-color: gray;
}
nav{
    height: 100px;
    width: 800px;
    text-align: center;
    background-color: gainsboro;
}
footer{
    height: 100px;
    width: 800px;
    text-align: center;
    background-color: gainsboro;
}
main{
    height: 400px;
    width: 800px;
    display: inline-flex;
}
#tresc{
    text-align: center;
    height: 400px;
    width: 500px;
    background-color: aliceblue;
}
#linki{
    text-align: center; 
    height: 400px;
    width: 308px;
    background-color: antiquewhite;
}



