body{
    display: grid;
    text-align: center; 
    justify-content: center;
}
#box{
    width: 800px;
    height: 700px;
}
header{
    height: 100px;
    background-color: gray;
}
#nawi{
    height: 100px;
    background-color: gainsboro;
    display: grid;
    align-items: center;
    justify-content: center;
}
footer{
    height: 100px;
    background-color: gainsboro;
    text-align: left;
    font-size:0.9rem
}
main{
    height: 400px;
    display: inline-flex;
}
#tresc{
    width: 500px;
    background-color: aliceblue;
    text-align: left;
    font-size:1.4rem
}
#linki{
    width: 300px;
    background-color: antiquewhite;
}
#nawi ul li{
    display: inline;
    list-style-type: none;
}
#nawi ul li a{
text-decoration: none;
color: white;
font-size: 2rem;
}
#nawi ul li a:hover{
    color: black;   
    border: inset black 1px;
}
#linki ul li {
    list-style-type: none;
}
#linki nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
#linki nav ul li a:hover{
    color: black;
    border: inset black 1px;
}
img {
    height:90px;
    width: auto;
}
