body{
    display: grid;
    text-align: center; 
    justify-content: center;
}
#box{
    width: 800px;
}
header{
    height: 100px;
    background-color: gray;
}
nav{
    height: 100px;
    background-color: gainsboro;
}
footer{
    height: 100px;
    background-color: gainsboro;
}
main{
    height: 400px;
    display: inline-flex;
}
#tresc{
    width: 500px;
    background-color: aliceblue;
}
#linki{
    width: 300px;
    background-color: antiquewhite;
}
nav ul li{
    display: inline;
    list-style-type: none;
}
nav ul li a{
text-decoration: none;
color: white;
}
nav ul li a:hover{
    color: black;
    border: inset black 1px;
}
